


.container {
    max-width: 700px;
    height: auto;
    box-sizing: border-box;
    padding: 2em;
    margin: 0 auto;
    
}

p {
    margin: 0 auto;
    padding: 1em;
    

}
details {
    border: 1px solid #aaa;
    border-radius: 1px;
    
  }
  
  summary {
    font-weight: bold;
  padding: 2em;
  margin: 0;
  }
  
  details {
    font-size: 1rem;
   
  }
  details[open] summary {
    
    padding-bottom: 0.5em;

}
  