.flex-container {
    width: 400px;
    height: 200px;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1em;
    margin: 0.4em;
    border: 2px solid blue;
    display: flex;
}

.flex-item {
    background: #eee;
    padding: 20px;
    border: 2px solid #000;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0.5em;
}

.align-content-flex-start {
    align-content: flex-start;
}

.align-content-center {
    align-content: center;
}

.align-content-flex-end {
    align-content: flex-end;
}

.align-content-space-between {
    align-content: space-between;
}

.align-content-space-around {
    align-content: space-around;
}